<section id="section{{ sectionno }}" class="mod-content single-content content-image {{ item.achtergrond }} {% if item.achtergrond == 'bg-orange' %}text-white{% endif %}" data-scroll-section>
	<div class="container">
		{% if item.slider %}
			<div class="js-slick">
				{% for image in item.afbeeldingen %}
					<div class="item">
						<div class="image ratio-16x9 w-100 anime-fadein bg-cover" style="background-image: url({{ Image(image) }})"></div>
						{% if image.alt %}
							<p><small><i>{{ image.alt }}</i></small></p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="row">
				{% for image in item.afbeeldingen %}
					{% if loop.first %}
						<div class="col-12 mb-30">
							<div class="image ratio-16x9 w-100 anime-fadein bg-cover" style="background-image: url({{ Image(image) }})"></div>
							{% if image.alt %}
								<p><small><i>{{ image.alt }}</i></small></p>
							{% endif %}
						</div>
					{% else %}
						<div class="col-md mb-30 ">
							<div class="image ratio-16x9 w-100 anime-fadein bg-cover" style="background-image: url({{ Image(image) }})"></div>
							{% if image.alt %}
								<p><small><i>{{ image.alt }}</i></small></p>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
		{% endif %}
	</div>
</section>