<section id="section{{ sectionno }}" class="mod-content {{ item.achtergrond }} {% if item.achtergrond == 'bg-orange' %}text-white{% endif %}"  data-scroll-section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-lg">
				{% if item.titel %}
					<h2 class="text-center"> {{ item.titel }} </h2>
				{% endif %}
				<div class="anime-fadein">
					{% if item.centreer_content %}<div class="text-center">{% endif %}
						{% if item.tekst %}
							<div class="altfont">
								{{ item.tekst }}
							</div>
						{% endif %}
						{% if item.link %}
							<a class="btn-link" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
						{% endif %}
						{% if item.knop %}
							<a class="btn btn-primary" href="{{ item.knop.url }}" target="{{ item.knop.target }}">{{ item.knop.title }}</a>
						{% endif %}
					{% if item.centreer_content %}</div>{% endif %}
				</div>
			</div>
		</div>
    </div>
</section>