{% if item.kaart %}
<section class="mod-kaart {{ item.achtergrond }}">
	<div class="container">

		<!-- Kaart afbeelding -->
		<div class="kaart-wrapper">
			<img src="{{ item.kaart.url }}" alt="{{ item.kaart.alt }}" class="kaart-afbeelding">

			<!-- Markers -->
			{% for pin in item.pin %}
				{% set pinIcoon = pin.pin_icoon ? pin.pin_icoon.url : item.pin_icoon.url %}
				{% set pinHeight = pin.pin_hoogte ? pin.pin_hoogte : item.pin_hoogte %}
				{% set pinAfbeelding = pin.afbeelding %}
				
				{% if pin.link and not pin.popover %}
				<a href="{{ pin.link.url }}"
				{% else %}
				<div 
				{% endif %}
					class="kaart-marker" 
					style="left: {{ pin.x }}%; top: {{ pin.y }}%; transform: translateX(-50%) translateY(-100%);" 
					{% if pin.popover %}
					tabindex="{{ loop.index }}"
					data-bs-toggle="popover" 
					data-bs-trigger="focus"
					data-bs-html="true"
					data-bs-content="
						<div class='popover-content'>
							{% if pin.titel %}
								<h5 class='mb-2'>{{ pin.titel }}</h5>
							{% endif %}
							{% if pinAfbeelding %}
								<img src='{{ pinAfbeelding.url }}' alt='{{ pinAfbeelding.alt }}' class='w-100 h-auto'>
							{% endif %}
							<p>{{ pin.tekst }}</p>
							{% if pin.link %}
								<a href='{{ pin.link.url }}' target='{{ pin.link.target }}'>{{ pin.link.title }}</a>
							{% endif %}
						</div>
					" {% endif %}>
					<img src="{{ pinIcoon }}" alt="Pin" class="pin-icon" {% if pinHeight %} style="height: {{ pinHeight }}px;"{% endif %}>
				{% if pin.link and not pin.popover %}
			</a>
				{% else %}
		</div> 
				{% endif %}
			{% endfor %}
		</div>

		<!-- Mobiele weergave -->
		<div class="kaart-accordion d-md-none">
			<div class="accordion" id="kaartAccordion">
				{% for pin in item.pin %}
				{% set pinIcoon = pin.pin_icoon ? pin.pin_icoon.url : item.pin_icoon.url %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{ loop.index }}">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">

							<img src="{{ pinIcoon }}" alt="Pin" class="accordion-pin-icon">
							{{ pin.titel }}
						</button>
					</h2>
					<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#kaartAccordion">
						<div class="accordion-body">
							{% if pin.afbeelding %}
							<img src="{{ pin.afbeelding.url }}" alt="{{ pin.afbeelding.alt }}" class="accordion-image">
							{% endif %}
							<p>{{ pin.tekst }}</p>
							{% if pin.link %}
							<a href="{{ pin.link.url }}" target="{{ pin.link.target }}">{{ pin.link.title }}</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</section>
{% endif %}