{% if item.achtergrond == 'bg-orange' or item.achtergrond == 'bg-blue' %}
	{% set knopkleur = 'btn-light' %}
{% elseif item.achtergrond == 'bg-greylight' %}
	{% set knopkleur = 'btn-primary' %}
{% else %}
	{% set knopkleur = 'btn-dark' %}
{% endif %}
{% set route_strook = item %}
{% set routes_overview_term_id = route_strook.alle_routes_categorie|default(null) %}
{% set routes_overview_link = routes_overview_term_id ? function('get_term_link', routes_overview_term_id, 'verhalenatlas_category') : verhalenatlas_all_routes_link|default('') %}
{% if routes_overview_link is same as(false) or function('is_wp_error', routes_overview_link) %}
	{% set routes_overview_link = verhalenatlas_all_routes_link|default('') %}
{% endif %}
{% set routes_overview_label = route_strook.alle_routes_knop_label ?: ((lang == 'nl_NL') ? 'Alle routes' : 'All routes') %}

<section id="section{{ sectionno }}" class="mod-routes {{ item.achtergrond }} {% if item.achtergrond == 'bg-orange' or item.achtergrond == 'bg-blue' %}text-white{% endif %}" data-scroll-section>
	{% if route_strook.titel %}
		<div class="container anime-fadein">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<h2>{{ route_strook.titel }}</h2>
				</div>
			</div>
		</div>
	{% endif %}

	{% if route_strook.routes %}
		<div class="container anime-fadein">
			<div class="row justify-content-md-center">
				{% for item in route_strook.routes|slice(0,6) %}
					<div class="col-md-6">
						{% include ['tease-verhalenatlas.twig'] %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if route_strook.link or (route_strook.toon_alle_routes_knop and routes_overview_link) %}
		<div class="text-center mt-3">
			{% if route_strook.link %}
				<a href="{{ route_strook.link.url }}" {% if route_strook.link.target %}target="{{ route_strook.link.target }}"{% endif %} class="btn {{ knopkleur }} mb-2 me-md-2">
					{{ route_strook.link.title }}
				</a>
			{% endif %}
			{% if route_strook.toon_alle_routes_knop and routes_overview_link %}
				<a href="{{ routes_overview_link }}" class="btn {{ knopkleur }} mb-2">
					{{ routes_overview_label }}
				</a>
			{% endif %}
		</div>
	{% endif %}
</section>
