<footer id="footer" class="section bg-blue text-lg text-center text-md-start" data-scroll-section>
  <div class="container-fluid container-lg">
    {% if options.logo_alt %}
      <img class="thelogo" height="38" src="{{ Image(options.logo_alt).src }}" src="{{ Image(options.logo_alt).alt }}">
      <br><br>
    {% endif %}
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        {{ options.tekst }}
      </div>
      
      <div class="col-md-4 mb-3 mb-md-0">
        {{ options.openingstijden }}
      </div>
      
      <div class="col-md-4 col-lg-4 mb-3 mb-md-0">
        {% if options.instagram %}
          <a href="{{ options.instagram }}" target="_blank">
            <i class="fab fa-instagram" style="width:20px"></i> Instagram
          </a>
        {% endif %}
        <div class="clearfix"></div>
        
        {% if options.facebook %}
          <a href="{{ options.facebook }}" target="_blank">
            <i class="fab fa-facebook" style="width:20px"></i> Facebook
          </a>
        {% endif %}
        <div class="clearfix"></div>
        
        {% if options.vimeo %}
          <a href="{{ options.vimeo }}" target="_blank">
            <i class="fab fa-vimeo" style="width:20px"></i> Vimeo
          </a>
        {% endif %}
        <div class="clearfix"></div>
        
        {% if options.linkedin %}
          <a href="{{ options.linkedin }}" target="_blank">
            <i class="fab fa-linkedin" style="width:20px"></i> Linkedin
          </a>
        {% endif %}
        <div class="clearfix"></div>
        
        <br>
        {% if lang == 'nl_NL' %}
          <a href="{{ site.link }}/privacyverklaring/">
            Privacyverklaring
          </a>
        {% else %}
          <a href="{{ site.link }}/en/privacy-statement/">
            Privacy Statement
          </a>
        {% endif %}

      </div>
    </div>
    {% if options.logos %}
      <div class="mod-logos">
        <div class="row g-1 justify-content-center justify-content-md-start">
          {% for logo in options.logos %}
            <div class="col-auto">
              <a href="{{ logo.url }}" target="_blank" class="logo" style="background-image: url({{ Image(logo.logo).src }})">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="subfooter">
    	<div class="row">
    		<div class="col-md">
		      <p> 
            © {{ "now"|date('Y') }} Office for Metropolitan Information
          </p>
    		</div>
        <div class="col-md-auto order-first order-md-last">
          Site by <a href="https://www.thomasvandervlis.nl" target="_blank">Tosam</a> & <a href="https://www.emonks.nl" target="_blank">Emonks</a>
        </div>
    	</div>
    </div>
  </div>
</footer>