<header class="header d-flex align-items-center">
	<div class="container-fluid container-lg"> 
		<div class="row g-2">
			<div class="col d-flex align-items-center">
				<a class="header-brand" href="{{ site.url }}{% if lang == 'nl_NL' %}{% else %}/en/{% endif %}" rel="home">
					<span class="d-none">{{ site.name }}</span>
					<img height="38" src="{{ Image(options.logo_color).src }}" src="{{ Image(options.logo_color).alt }}">
				</a>
			</div>
			<div class="col-auto d-none d-lg-flex align-items-{% if options.thema == 'omi' %}center{% else %}end{% endif %}">
				{% include "menu.twig" with {'items': menu.get_items, 'hide_winkelwagen_item': options.header_cart_icon_tonen and options.header_cart_link} %}
			</div>
			<div class="col-auto d-flex d-lg-none align-items-end">
				{% if options.header_cart_icon_tonen and options.header_cart_link %}
					<a
						class="header-cart-link d-inline-flex align-items-center justify-content-center me-2"
						href="{{ options.header_cart_link.url }}"
						{% if options.header_cart_link.target %}target="{{ options.header_cart_link.target }}"{% endif %}
						aria-label="{% if options.header_cart_link.title %}{{ options.header_cart_link.title }}{% else %}Winkelwagen{% endif %}"
						title="{% if options.header_cart_link.title %}{{ options.header_cart_link.title }}{% else %}Winkelwagen{% endif %}"
					>
						<i class="fas fa-shopping-cart" aria-hidden="true"></i>
					</a>
				{% endif %}
				<a id="mobilemenubtn" class="btn-menu d-block immune js-menu d-lg-none">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<span class="text"> {% if lang == 'nl_NL' %} <span class="text-orange">NL</span> / EN {% else %} NL / <span class="text-orange">EN</span> {% endif %}</span>
				</a>
			</div>
		</div>
	</div>
</header>
