{% extends "base.twig" %}

{% block content %}
	{% set contentblokken = post.get_field('stroken')|default([]) %}
	{% set has_kaart_strook = false %}
	{% set has_routes_strook = false %}
	{% set routes_target_id = '' %}
	{% set section_counter = 0 %}
	{% set parent_id = post.post_parent|default(0) %}
	{% set has_parent = parent_id and parent_id > 0 %}
	{% set parent_link = has_parent ? function('get_permalink', parent_id) : '' %}
	{% set parent_title = has_parent ? function('get_the_title', parent_id) : '' %}
	{% set archive_base_url = (options.verhalenatlas_archive_page_link and options.verhalenatlas_archive_page_link.url) ? options.verhalenatlas_archive_page_link.url : (site.url ~ '/' ~ ((lang == 'nl_NL') ? 'verhalenatlas/' : 'en/verhalenatlas/')) %}
	{% set verhalenatlas_gebieden_url = function('untrailingslashit', archive_base_url) ~ '/#verhalenatlas-gebieden' %}
	{% set post_filters = post.terms('filter') ?: [] %}
	{% set longreads_filter_slug = '' %}
	{% for term in post_filters %}
		{% set term_slug = term.slug|default('') %}
		{% set term_label = term.title|default(term.name|default('')) %}
		{% if not longreads_filter_slug and ('longread' in term_slug|lower or 'longread' in term_label|lower) %}
			{% set longreads_filter_slug = term_slug %}
		{% endif %}
	{% endfor %}
	{% if not longreads_filter_slug %}
		{% set longreads_filter_slug = 'longreads' %}
	{% endif %}
	{% set meer_longreads_separator = (verhalenatlas_all_routes_link and ('?' in verhalenatlas_all_routes_link)) ? '&' : '?' %}
	{% set meer_longreads_url = verhalenatlas_all_routes_link ? (verhalenatlas_all_routes_link ~ meer_longreads_separator ~ 'filter=' ~ longreads_filter_slug) : parent_link %}
	{% set terug_naar_gebied_label = has_parent ? ((lang == 'nl_NL') ? ('Terug naar ' ~ parent_title) : ('Back to ' ~ parent_title)) : ((lang == 'nl_NL') ? 'Terug naar gebied' : 'Back to area') %}
	{% set meer_longreads_label = options.verhalenatlas_more_longreads_label ?: ((lang == 'nl_NL') ? 'Meer longreads' : 'More longreads') %}
	{% if lang != 'nl_NL' and not options.verhalenatlas_more_longreads_label %}
		{% set meer_longreads_label = options.verhalenatlas_more_longreads_label_en ?: 'More longreads' %}
	{% endif %}
	{% set alle_gebieden_label = options.verhalenatlas_archive_button_label ?: ((lang == 'nl_NL') ? 'Alle gebieden' : 'All areas') %}
	{% if lang != 'nl_NL' and not options.verhalenatlas_archive_button_label %}
		{% set alle_gebieden_label = options.verhalenatlas_archive_button_label_en ?: 'All areas' %}
	{% endif %}
	{% for blok in contentblokken %}
		{% set section_counter = section_counter + 1 %}
		{% if blok.acf_fc_layout == 'kaart' %}
			{% set has_kaart_strook = true %}
		{% endif %}
		{% if (not has_routes_strook) and blok.acf_fc_layout == 'routes' and blok.routes %}
			{% set has_routes_strook = true %}
			{% set routes_target_id = 'section' ~ section_counter %}
		{% endif %}
	{% endfor %}

	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			
			<section class="mod-content bg-blue text-white" data-scroll-section>
				<div class="container text-start text-md-center">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<h1 class="h2 mb-2 mt-3"> {{ post.title }} </h1>
							{% if post.subtitel %}
								<h3 class="mb-3 mb-md-4 weight-400"> {{ post.subtitel }} </h3>
							{% endif %}
							{% if has_parent and has_kaart_strook %}
								<a class="btn btn-light mb-2 me-md-2" href="#kaart">{% if lang == 'nl_NL' %}Start route{% else %}Begin route{% endif %}</a>
								{% if parent_link %}
									<a class="btn btn-outline-light mb-2" href="{{ parent_link }}">{{ terug_naar_gebied_label }}</a>
								{% endif %}
							{% elseif has_parent %}
								{% if parent_link %}
									<a class="btn btn-outline-light mb-2 me-md-2" href="{{ parent_link }}">{{ terug_naar_gebied_label }}</a>
								{% endif %}
								{% if meer_longreads_url %}
									<a class="btn btn-light mb-2" href="{{ meer_longreads_url }}">{{ meer_longreads_label }}</a>
								{% endif %}
							{% else %}
								{% if has_routes_strook and routes_target_id %}
									<a class="btn btn-light mb-2 me-md-2" href="#{{ routes_target_id }}">{% if lang == 'nl_NL' %}Bekijk routes{% else %}View routes{% endif %}</a>
								{% endif %}
								<a class="btn btn-light mb-2 me-md-2" href="{{ verhalenatlas_gebieden_url }}">{{ alle_gebieden_label }}</a>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
			
			{% include 'pagebuilder.twig' %}
			
			{% if post.get_field('colofon') %}
				<section class="mod-colofon bg-greylight text-sm" data-scroll-section>		
					<div class="container">
						<div class="row">
							<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
								{% for item in post.get_field('colofon') %}
									<div class="row">
										<div class="col-6 col-md-5 col-lg-5 weight-600">
											{{ item.label }}:
										</div>
										<div class="col">
											{{ item.tekst }}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
			{% endif %}
			
			{% if post.get_field('logos') %}
				<section class="mod-logos bg-greylight text-sm" data-scroll-section>	
					<br><br>
					<div class="container">
						<div class="row">
							<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
								<div class="row g-2">
									{% for logo in post.get_field('logos') %}
										<div class="col-4 col-sm-3">
											<a href="{{ logo.url }}" target="_blank" class="logo" style="background-image: url({{ Image(logo.logo).src }})">
											</a>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<br><br>
				</section>
			{% endif %}
			
			{% include 'partial/paststories.twig' %}
			{% include 'partial/blog.twig' %}
			{% include 'partial/events.twig' %}
			
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
