<a href="{{ item.link }}" {% if item.link.target %}target="{{ item.link.target}}"{% endif %} class="tease tease-event tease-verhalenatlas noline">
	<div class="item">
		<div class="image-holder overlay-gradient ratio-4x3 mb-30">
			<div class="image" style="background-image: url({{ Image(item.thumbnail).src|resize(1024) }})"></div>
			<div class="content">
				<h3 class="h5 mb-0">{{ item.title }}</h3>
				{% if item.subtitel %}
					<p class="mb-0">{{ item.subtitel }}</p>
				{% endif %}
				
				<div class="read-more weight-600">{% if lang == 'nl_NL' %}Lees meer{% else %}Read more{% endif %} <i class="fas fa-arrow-right"></i></div>
				
				{% set the_terms = item.get_terms() %}
				{% set badge_term = null %}

				{% for the_term in the_terms %}
					{% if badge_term is null and the_term.taxonomy == 'filter' %}
						{% set badge_term = the_term %}
					{% endif %}
				{% endfor %}

				{% if badge_term %}
					<div class="badge {{ badge_term.tekstkleur|default('') }}" {% if badge_term.kleur %}style="background-color: {{ badge_term.kleur }}"{% endif %}> {{ badge_term.title }} </div>
				{% endif %}
			</div>
		</div>
	</div>
</a>
